<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <table class="table table-striped" style="margin:0;">
      <tr>
        <td colspan="2" style="background-color:rgb(53,72,80); border-top:black 2px solid; border-bottom:black 2px solid;">
        </td>
      </tr>
    </table>

    <table class="table table-striped" style="margin:0;">
      <% @threads.sort_by(&:updated_at).reverse.each do |thread| %>
        <tr>
          <td style="width:25px;">
            <a href="#" class="bookmark-button" data-thread-id="<%= thread.id %>">
              <span class="glyphicon glyphicon-star-empty" style="font-size:18pt;"></span>
            </a>
          </td>
          <td style="font-weight:bold; vertical-align:middle;">
            <a href="<%= post_thread_url(thread) %>">
              <%= thread.title %> 
            </a>
          </td>
          <td>
            <a href="<%= user_url(thread.user) %>">
              <%= thread.user.username %>
            </a>
          </td>
        </tr>
      <% end -%>
    </table>

    <table class="table table-striped" style="margin:0;">
      <tr>
        <td colspan="2" style="background-color:rgb(53,72,80); border-top:black 2px solid; border-bottom:black 2px solid;">

        </td>
      </tr>
    </table>


  </div>
</div>