<% content_for(:title, @forum.name)%>

<div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- INJECT POST FORMS HERE -->

    </div>
  </div>
</div>

<%= render partial: "breadcrumb" %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <%= render partial: "header_footer" %>

    <!-- THREADS GO HERE -->
    <%= render partial: "post_threads/list" %>
    <!-- END THREADS -->

    <%= render partial: "header_footer" %>

  </div>
</div>

<%= render partial: "breadcrumb" %>

