<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="<%= section_url(@forum.section) %>"><%= @forum.section.name %></a></li>
      <li class="active"><%= @forum.name %></li>
      <p class="pull-right"><a href="<%=new_forum_post_thread_url(@forum)%>"> New Thread </a></p>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <ul id="thread-list" class="list-group" style="margin: 0px; padding: 0px; list-style-type: none">
      <% @forum.post_threads.order(:updated_at).reverse_order.each do |thread| %>
      <li class="list-group-item"><a href="<%= post_thread_url(thread) %>"><%= thread.title %></a></li>
      <% end -%>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="<%= section_url(@forum.section) %>"><%= @forum.section.name %></a></li>
      <li class="active"><%= @forum.name %></li>
      <p class="pull-right"><a href="<%=new_forum_post_thread_url(@forum)%>"> New Thread </a></p>
    </ol>
  </div>
</div>
