<div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- INJECT POST FORMS HERE -->

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="<%= section_url(@forum.section) %>"><%= @forum.section.name %></a></li>
      <li class="active"><%= @forum.name %></li>
      <div class="pull-right">
      <%= paginate @threads  %>
      </div>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <table class="table table-striped" style="margin:0;">
      <tr>
        <td colspan="2" style="background-color:rgb(53,72,80); border-top:black 2px solid; border-bottom:black 2px solid;">
          <% if logged_in? %>
            <% if (can? :create, PostThread) %>
            <a  href="<%=new_forum_post_thread_url(@forum)%>" 
                class="btn btn-default btn-small pull-right">
              <span class="glyphicon glyphicon-pencil"></span> Post
            </a>
            <% else %>
              <a  href="#" 
                class="btn btn-default btn-small pull-right disabled">
              <span class="glyphicon glyphicon-pencil"></span> Nope
              </a>
            <% end -%>
          <% end -%>
        </td>
      </tr>
    </table>

    <!-- THREADS GO HERE -->
    <%= render partial: "post_threads/list" %>
    <!-- END THREADS -->

    <table class="table table-striped" style="margin:0;">
      <tr>
        <td colspan="2" style="background-color:rgb(53,72,80); border-top:black 2px solid; border-bottom:black 2px solid;">
          <% if logged_in? %>
            <% if (can? :create, PostThread) %>
            <a  href="<%=new_forum_post_thread_url(@forum)%>" 
                class="btn btn-default btn-small pull-right">
              <span class="glyphicon glyphicon-pencil"></span> Post
            </a>
            <% else %>
              <a  href="#" 
                class="btn btn-default btn-small pull-right disabled">
              <span class="glyphicon glyphicon-pencil"></span> Nope
              </a>
            <% end -%>
          <% end -%>
        </td>
      </tr>
    </table>


  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="<%= section_url(@forum.section) %>"><%= @forum.section.name %></a></li>
      <li class="active"><%= @forum.name %></li>
      <div class="pull-right">
      <%= paginate @threads  %>
      </div>
    </ol>
  </div>
</div>
