<table  class="table table-striped post-table">

<tbody>
<tr>
  <!-- post author div -->
  <td class="author-display">
    <strong>
      <p class="username">
        <%= @user.username %>
        <% if @user.role == "ADMINISTRATOR" %>
          <span class="glyphicon glyphicon-star" style="color:red;"></span>
        <% end -%>
      </p>
    </strong>
    <p><%= @user.reg_date %></p>
    <%= image_tag @user.avatar.url, class: "avatar_image" %>

    <div class="user-controls">

    <a  href="<%= new_user_private_message_url(@user) %>" 
        class="btn btn-default btn-sm <%= "disabled" unless logged_in? %>"
        data-toggle="modal"
        data-target="#pmModal">
      <span class="glyphicon glyphicon-envelope"></span>
    </a>

    <a href="<%= user_posts_url(@user) %>" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-list"></span>
    </a>

  </div>
  </td>

  <!-- post body div -->
  <td>
    <div class="post-body-container">
      <!-- content div -->
      <div class="post-body">
        <%#= simple_format @user.profile %>
        <%= @user.profile.bbcode_to_html_with_formatting.html_safe %>
      </div>

      <!-- controls div -->
      <div class="post-controls">
        <% if logged_in? && (can? :update, @user) %>
          <a href="<%= edit_user_url(@user) %>" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </a>
        <% end %>
      </div>
   </div>
  </td>
</tr>
</tbody>

</table>