<table  class="table table-striped" 
        style="margin:0; border-bottom:rgb(250,250,250) 1px solid;">

<tbody>
<tr>
  <!-- post author div -->
  <td style="border-right:grey 1px solid; width:200px; min-width:200px;">
    <strong><p style="margin-top:5px; color:black; font-size:115%;"><%= @user.username %></p></strong>
    <p><%= @user.reg_date %></p>
    <%= image_tag @user.avatar.url, style: "display: block; margin: auto;", class: "avatar_image" %>
    <div style="min-height:20px;"></div>
    <div style="text-align:center;">

    <a href="#" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-envelope"></span>
    </a>

    <a href="<%= user_posts_url(@user) %>" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-list"></span>
    </a>

  </div>
  </td>

  <!-- post body div -->
  <td>
    <div style="position:relative; height:100%; width:100%; display:inline-block">
      <!-- content div -->
      <div style="padding-bottom:20px;">
        <%= simple_format @user.profile %>
      </div>

      <!-- controls div -->
      <div style="position:absolute; bottom:0; right:0;">
        <% if logged_in? && current_user == @user %>
          <a href="<%= edit_user_url(@user) %>" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </a>
        <% end %>
      </div>
   </div>
  </td>
</tr>
</tbody>

</table>