<table class="table table-striped thread-table" style="margin:0;">
  <tr>
    <th></th>
    <th class="text-center">Title</th>
    <th class="text-right">Sender</th>
    <th class="text-right">Date/Time</th>
  </tr>

  <% @messages.each do |message| %>
  <tr>
    <td style="vertical-align:middle;">
      <a  href="#"
          class="pm-delete-button"
          data-id="<%= message.id %>">
        <span style="color:black;" class='glyphicon glyphicon-trash'></span>
      </a>
    </td>
    <td style="width:60%; <%= "font-weight:bold;" unless message.read %>">
      <a href="<%= private_message_url(message) %>">
        <%= message.title %>
      </a>
    </td>
    <td class="text-right"><%= link_to message.author.username, user_url(message.author) %></td>
    <td class="text-right"><%= message.created_at.strftime("%H:%M %b %d, %Y") %></td>
  </tr>
  <% end -%>

</table>