<% content_for(:title, @message.title)%>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/private_messages">Private Messages</a></li>
    <li class="active"><%= @message.title %></li>
  </ol>

    <table class="table table-striped post-table">

      <tbody>
      <tr>
        <!-- post author div -->
        <td class="author-display">
          <strong>
            <p class="usename">
              <%= @message.author.username %>
              <% if @message.author.role == "ADMINISTRATOR" %>
                <span class="glyphicon glyphicon-star" style="color:red;"></span>
              <% end -%>
            </p>
          </strong>
          <p><%= @message.author.reg_date %></p>
          <%= image_tag @message.author.avatar.url, class: "avatar_image" %>

          <div class="user-controls">
          <a href="<%= user_url(@message.author) %>" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-user"></span>
          </a>

          <a  href="<%= new_user_private_message_url(@message.author) %>"
              class="btn btn-default btn-sm"
              data-toggle="modal"
              data-target="#pmModal">
            <span class="glyphicon glyphicon-envelope"></span>
          </a>

          <a href="<%= user_posts_url(@message.author) %>" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-list"></span>
          </a>

          <a href="<%= private_message_url(@message) %>" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-link"></span>
          </a>
        </div>
        </td>

        <!-- message body div -->
        <td>
          <div class="post-body-container">
            <!-- content div -->
            <div class="post-body">
              <%=  @message.body.bbcode_to_html_with_formatting.html_safe %>
            </div>

            <!-- created div -->
            <div class="post-created">
              <%= @message.created_at %>
            </div>

            <!-- controls div -->
            <div class="post-controls">
                <a  href="<%= new_user_private_message_url(@message.author) + "?quote=#{@message.id}"%>"
                    class="btn btn-default btn-sm"
                    data-toggle="modal"
                    data-target="#pmModal">
                  <span class="glyphicon glyphicon-new-window"></span> Reply
                </a>
            </div>
         </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/private_messages">Private Messages</a></li>
    <li class="active"><%= @message.title %></li>
  </ol>


  </div>
</div>
