<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="<%= section_url(@thread.forum.section) %>"><%= @thread.forum.section.name %></a></li>
      <li><a href="<%= forum_url(@thread.forum) %>"><%= @thread.forum.name %></a></li>
      <li class="active"><%= @thread.title %></li>
      <div class="pull-right">
        <%= paginate @posts  %>
      </div>
    </ol>
  </div>
</div>