    <table class="table table-striped thread-table" style="margin:0;">
      <%# @forum.post_threads.sort_by(&:updated_at).reverse.each do |thread| %>
      <% @threads.each do |thread| %>
        <tr>
          <td style="width:25px;">
            <!-- BOOKMARK BUTTONS -->
            <% if logged_in? %>
              <% if @bookmarks.include?(thread.id) %>            
              <a href="#" class="bookmark-button" data-state="marked" data-thread-id="<%= thread.id %>">
                <span class="glyphicon glyphicon-star" style="font-size:18pt;"></span>
              </a>
              <% else %>
              <a href="#" class="bookmark-button" data-state="unmarked" data-thread-id="<%= thread.id %>">
                <span class="glyphicon glyphicon-star-empty" style="font-size:18pt;"></span>
              </a>
              <% end -%>
            <% end -%>
          </td>
          <!-- THREAD TITLE -->
          <td style="font-weight:bold; vertical-align:middle;">
            <a href="<%= post_thread_url(thread) %>">
              <%= thread.title %> 
            </a>
            <br>
            <% posts = thread.posts.page(1) %>
            <%= paginate posts, params: { :controller => 'post_threads', :action => 'show' } %>
            </br>
          </td>
          <td>
            <!-- THREAD AUTHOR -->
            <a href="<%= user_url(thread.user) %>">
              <%= thread.user.username %>
            </a>
          </td>
        </tr>
      <% end -%>
    </table>