<%= render partial: "post_threads/breadcrumb" %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <%= render partial: "post_threads/headerfooter" %>

    <!-- POSTS GO HERE -->
    <div id="posts-list">
    <%= render @posts, standalone: false %>
    </div>
    <!-- END POSTS -->

    <%= render partial: "post_threads/headerfooter" %>

  </div>
</div>

<%= render partial: "post_threads/breadcrumb" %>