<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="<%= section_url(@thread.forum.section) %>"><%= @thread.forum.section.name %></a></li>
      <li><a href="<%= forum_url(@thread.forum) %>"><%= @thread.forum.name %></a></li>
      <li class="active"><%= @thread.title %></li>
      <p class="pull-right"><a href="<%=new_post_thread_post_url(@thread)%>"> Post </a></p>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table table-striped">
      <% @thread.posts.each do |post| %>

          <%= render partial: "posts/post", locals: {post: post} %>

      <% end -%>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="<%= section_url(@thread.forum.section) %>"><%= @thread.forum.section.name %></a></li>
      <li><a href="<%= forum_url(@thread.forum) %>"><%= @thread.forum.name %></a></li>
      <li class="active"><%= @thread.title %></li>
      <p class="pull-right"><a href="<%=new_post_thread_post_url(@thread)%>"> Post </a></p>
    </ol>
  </div>
</div>