<tr>
  <td style="border-right:grey 1px solid !important; width:200px;">
    <strong><p style="margin-top:10px; color:black; font-size:125%;"><%= post.user.username %></p></strong>
    <p><%= post.user.reg_date %></p>
    <%= image_tag post.user.avatar, style: "display: block; margin: auto;" %>
    <div style="min-height:20px;"></div>
    <a href="<%= user_url(post.user) %>"><div class="glyphicon glyphicon-user"></div></a>
  </td>
  <td>
    <div style="position:relative; height:100%; width:100%; display:inline-block">
      <%= simple_format post.body %>

      <div style="position:absolute; bottom:0; right:0;">
        <% if (current_user == post.user) %>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button>
        <% else %>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-new-window"></span> Quote
        </button>
        <% end -%>
      </div>
   </div>
  </td>
</tr>
