<table  class="table post-table table-striped" id="post-<%=post.id%>">

<tbody>
<tr>
  <!-- post author div -->
  <td class="author-display">
    <strong>
      <p class="username">
        <%= post.user.username %>
        <% if post.user.role == "ADMINISTRATOR" %>
          <span class="glyphicon glyphicon-star" style="color:red;"></span>
        <% end -%>
      </p>
    </strong>
    <p><%= post.user.reg_date %></p>
    <% if post.user.banned %>
    <%= image_tag "banned.png", class: "avatar_image" %>
    <% else %>
    <%= image_tag post.user.avatar.url, class: "avatar_image" %>
    <% end -%>

    <div class="user-controls">
      <a href="<%= user_url(post.user) %>" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-user"></span>
      </a>

      <a  href="<%= new_user_private_message_url(post.user) %>" 
          class="btn btn-default btn-sm <%= "disabled" unless logged_in? %>"
          data-toggle="modal"
          data-target="#pmModal">
        <span class="glyphicon glyphicon-envelope"></span>
      </a>

      <a href="<%= user_posts_url(post.user) %>" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-list"></span>
      </a>

      <a href="<%= post_url(post) %>" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </div>
  </td>

  <!-- post body div -->
  <td>
    <div class="post-body-container">
      <!-- content div -->
      <div class="post-body">
        <%= post.body.bbcode_to_html_with_formatting.html_safe %>

        <!-- edited div -->
        <% if !post.edited.empty? %>
        <p class="post-edited"><%= post.edited %></p>
        <% end -%>
      </div>

      <!-- created div -->
      <div class="post-created">
        <%= post.created_at %>
      </div>

      <!-- controls div -->
      <div class="post-controls">
        <% if logged_in? && !standalone %>
          <% if (can? :update, post) && !@thread.closed%>
          <a  href="<%= edit_post_url(post) %>" 
              class="btn btn-default btn-sm"
              data-toggle="modal"
              data-target="#replyModal">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </a>
          <% end %>
          <% if (can? :create, Post) && !@thread.closed %>
          <a  href='<%= new_post_thread_post_url(@thread) + "?quote=#{post.id}" %>'
              class="btn btn-default btn-sm"
              data-toggle="modal"
              data-target="#replyModal">
            <span class="glyphicon glyphicon-new-window"></span> Quote
          </a>
          <% end -%>
        <% end %>
      </div>
   </div>
  </td>
</tr>
</tbody>

</table>