<!DOCTYPE html>
<html>
<head>
  <title>SomethingAwesome</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

<script>
  function displayError(message) {
    var $error = "<div class='alert alert-warning alert-dismissable'>\
    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>\
    <strong>"+ message + "</strong></div>"

    if ($('.alert').length === 1) {
      $('.alert').replaceWith($error);
    } else {
      $('body').prepend($error);
    };

  }

  function displayMessage(message) {
        var $message = "<div class='alert alert-info alert-dismissable'>\
    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>\
    <strong>"+ message + "</strong></div>"

    $('body').prepend($message);
  }

  $(document).ready(function(){
    $('#login-form').submit(function(event){
      event.preventDefault();
      var loginData = $(event.target).serializeJSON()
      $.ajax({
        url: "/session",
        method: "POST",
        data: loginData,
        success: function(response){
          location.reload(true);
        },
        error: function(response){
          displayError("Invalid Username and/or Password");
        },
      });
    });

    $('#sign-out-button').click(function(event){
      event.preventDefault();
      $.ajax({
        url: "/session",
        method: "DELETE",
        complete: function(response){
          location.reload(true);
          displayMessage("Goodbye!");
        },
      })
    });
  });
</script>

</head>
<body>

<% if flash[:errors] %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <% flash[:errors].each do |error| %>
    <br><strong><%= error %></strong></br>
    <% end -%>
  </div>
<% end -%>

<% if flash[:notice] %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong><%= flash[:notice] %></strong>
  </div>
<% end -%>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-site-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Something Awesome</a>
    </div> <!-- header -->

    <div class="collapse navbar-collapse" id="primary-site-navbar">
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Bookmarks</a></li>
                <li><a href="<%= user_url(current_user) %>">Profile</a></li>
                <li class="divider"></li>
                <li><%= link_to 'Sign Out', '#', id: 'sign-out-button' %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= render partial: "sessions/form" %></li>
            <li><p class="navbar-text">|</p></li>  
            <li><a href="/users/new">Sign Up</a></li>  
          </ul>
        <% end %>
    </div> <!-- Collapsable Nav -->

  </div> <!-- container-fluid -->
</nav> <!-- navbar -->

<div class="container">
<%= yield %>
</div>


</body>
</html>
